
<style>
    body {
        background: url('../Images/body-bg.gif');
        color: white;
    }
</style>





<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your account was created successfully</h2>
        <hr />
        <p>Thank you!</p>
    </div>
</div>